/*******************
  Front Page Style
*******************/

body.front {
  .pane-title {
    font-size: 1.3em;
    font-family: 'PT Sans', 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1.833333333333333em;
    color: #666666;
    margin-bottom: 5px;
    letter-spacing: 0.2em;
  }

  .pane-content {
    line-height: 1.6em;
    .link-list {
      h3.link-list-title {
        color: #666666;
        font-size: 0.8571428571428571em;
        line-height: 1.833333333333333em;
        padding: 12px 0 0 0;
        margin: 0;
        font-weight: 400;
      }
      &.columns-1 {
        h3.link-list-title {
          color: #313130;
        }
      }
    }
    .view {
      border-bottom: 3px solid #f6f5f5;
      margin-bottom: 20px;
      h4 {
        font-weight: 400;
      }
      .more-link {
        display: block;
        padding: 10px 0;
        font-size: 0.9285714285714286em;
        text-align: left;
        a {
          color: #006a8e;
          text-decoration: underline;
          font-weight: 400;
        }
      }
      &.view-homepage-feature {
        border: none;
        margin: 0;
      }
    }
    div.node-blog-article {
      h4 {
        font-weight: 400;
        a {
          color: #637e00;
          font-size: 1em;
          line-height: 1.647058823529412em;
          padding: 0;
          margin: 0;
          display: block;
          &:hover {
            color: #000;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .page-template-home-1 {
    // Top section.
    .page-front-top {
      #feature-wrap {
        position: relative;
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
        #feature-title {
          position: absolute;
          bottom: 30px;
          background: url(../img/feature-post-bg.png) no-repeat scroll left top transparent;
          right: 0;
          max-width: 55%;
          padding-left: 7%;
          a, a:visited {
            color: #000;
          }
          p {
            color: #000;
            line-height: 1.25em;
          }
          h3 {
            padding-top: 0.5em;
          }
        }
      }
    }

    // Left section.
    .page-front-middle-left {
      // Quick links.
      .browse-home {
        background: #006a8e;
        border-bottom: 1px solid #006a8e;
        position: relative;
        z-index: 99;
        h3 {
          font-size: 1.071428571428571em;
          padding: 0 9px 20px 18px;
          border-bottom: 1px solid #006a8e;
        }
        a {
          display: block;
          color: #fff;
          padding: 5px 9px 5px 42px;
          font-family: 'PT Sans', 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
          font-size: 1.7em;
          line-height: 2.090909090909091em;
          border-top: 1px solid #0279a2;
          border-bottom: none;
          background: transparent url(../img/chevron.png) no-repeat scroll 0.86363636em 1em;
          &:hover {
            background: #038fbf url(../img/chevron.png) no-repeat scroll 19px 50%;
            text-decoration: underline;
          }
        }
      }

      .hentry {
        overflow: visible;
        padding: 0;
      }
      .pane-node {
        .pane-title {
          display: none;
          visibility: hidden;
        }
      }
    }

    // Right section.
    .page-front-middle-right {
      font-size: 0.875em;
      line-height: 1.428571428571429em;
      padding: 27px 0 60px 0;
    }
  }
}