/*******************
  Search Page Style
*******************/

body.page-search {
  .title-block { 
    padding: 20px 4px 4px 12px!important;
    > h1 {
      display: none;
    }
  }
  .search-api-page-results {
    margin-left: 0.5em;
    & > h2 {
      display: none;
    }
    p.search-performance {
      border-bottom: 3px solid #EDECEC;
      padding-bottom: 1em;
      font-size: 1em;
    }
  }
  ol.search-results {
    padding: 0;
    li.search-result:first-child .title {
      font-size: 1.28em;
      font-weight: 500;
      border-top: none;
      padding-top: 1em;
    }
    li.search-result .title {
      font-size: 1.28em;
      font-weight: 500;
      border-top: 1px solid #F6F5F5;
      padding-top: 1em;
    }
    .search-snippet-info {
      padding: 1em 0 0;
      color: #000;
    }
  }
  .search-results 
  .search-performance {
    border-bottom: 3px solid #EDECEC;
    padding: 0.5em 0 1em;
    font-size: 1em;
    margin-left: 0.5em;
  }
  .search-api-page-results {
    /*background: transparent url(../img/bg-search.png) no-repeat scroll top left;*/
    padding: 0;
    font-family: 'PT Sans', 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
    div.item-list {
      padding: 20px 0;
      border-top: 3px solid #edecec;
    }
  }
  .search-form {
    div {
      width: 100%;
      height: 35px;
      clear: none;
      position: relative;
      .form-type-textfield > label {
        display: none
      }
    }
    input[type="submit"] {
      border: 1px solid #DBDADA;
      color: #646668;
      font-size: 0.88em;
      line-height: 2.58em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .1em;
      text-align: center;
      display: block;
      width: 75px;
      height: 35px;
      background-color: #E4E9EB;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      right: .34em;
    }
  }
  input.form-text {
    display: block;
    width: 90%;
    height: 35px;
    float: left;
    padding: 0;
    margin: 0 0 0 5px;
    text-indent: 10px;
    font-weight: 400;
    font-size: 0.88em;
    line-height: 2.58em;
    color: #666;
    border: 1px solid #C1C2C3;
  }
  aside {
    &.right-bar {
      margin-top: 1.6em;
      div {
        &.block-facetapi:first-child {
          h2.block-title {
            color: #fff;
            font-weight: 400;
            text-transform: none;
            font-size: 1em;
            line-height: 2.16667em;
            position: relative;
            margin: -1.5em 1em 1em 1em;
            padding-top: 2em;
            border-top: none;
          }
        }
        &.block-facetapi {
          h2.block-title {
            color: #fff;
            font-weight: 400;
            text-transform: none;
            font-size: 1em;
            line-height: 2.16667em;
            position: relative;
            margin: 0 1em 1em 1em;
            padding-top: 2em;
            border-top: 1px solid #737576;
          }
          ul {
            li {
              a {
                color: #c8e35a;
                padding: 2px 0px 2px 21px;
                font-weight: 400;
                text-decoration: none;
                display: block;
                overflow: hidden;
                background: transparent url(../img/filter-plus-tick-sprite.png) no-repeat scroll 2px 4px;
                margin-right: 1em;
                margin-bottom: 2em;
              }
            }
          }
        }
      }
    }
  }
}